<div class="demo">
	<footer class="o-footer-services">
		<p class="o-footer-services__wrapper o-footer-services__wrapper--legal">
			<a href="#">Terms & Conditions</a> and <a href="#">Privacy</a>. &copy; THE FINANCIAL TIMES LTD. FT and 'Financial Times' are trademarks of The Financial Times Ltd.
		</p>
	</footer>
</div>
